
<p>
  <strong>Nombre del encargado:</strong>
  <%= @mesa.nombre_encargado %>
</p>


<p>
  <strong>Recinto:</strong>
  <%= @mesa.recinto %>
</p>

<%= link_to 'Edit', edit_mesa_path(@mesa) %> |
<a href="/recinto/mesas/<%=@mesa.recinto_id%>">Atras</a>
