<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @departamento.nombre %>
</p>

<p>
  <strong>Numero maximo votantes:</strong>
  <%= @departamento.numero_maximo_votantes %>
</p>


<p>
  <strong>Nombre del encargado:</strong>
  <%= @departamento.nombre_encargado %>
</p>

