 <center>

<h1>Sectores</h1>

<table class="table table-striped text-cent">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Pertenece al departamento</th>
      <th>El encargado es:</th>
    </tr>
  </thead>

  <tbody>
    <% @sectors.each do |sector| %>
      <tr>
        <td><%= sector.id %></td>
        <td><%= sector.nombre %></td>
        <td><%= sector.departamento.nombre %></td>
        <td><%= sector.nombre_encargado %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>

